*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    color: black;
}

nav{
    /* position:fixed; */
    display: flex; 
    justify-content: space-between; 
    padding: 1rem 2rem; 
    background: yellow; 
    /* width: 95%; */
}

nav ul{
    display: flex; 
    list-style: none;
    color: black;
    align-items: center;
}

nav li{
    padding-left: 1rem; 
}

nav ul li a{
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding: 10px 4px;
    text-decoration: none;
}

nav ul li a:hover{
    border-bottom: 1px solid black;
}

.about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

footer{
    background: yellow;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}